.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.gtg {
    padding: var(--paddingMD);
}

.gtgIntroduce {
    display: flex;
    gap: var(--paddingXL);
}

.gtgImage {
    align-self: flex-start;
}

.companyProfileButton {
    margin-top: var(--paddingXXL);
}

.statistics {
    background: url("/statistics-background.png");
    padding: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.articleSection {
    margin: 100px 0;
    padding: var(--paddingMD);
    text-align: center;
}

.articleHeading {
    width: 80%;
    margin: 0 auto 100px;
    text-align: center;
}
